flutter/ephemeral/

# Visual Canvas user-specific files.
*.suo
*.user
*.userosscache
*.sln.docstates

# Visual Canvas build-related files.
x64/
x86/

# Visual Canvas cache files
# files ending in .cache can be ignored
*.[Cc]ache
# but keep track of directories ending in .cache
!*.[Cc]ache/
